
#ext-caretaker-mod-nav-index-php .x-panel-header {
	-moz-box-shadow: -2px 0 1px #414141 inset;
	background-color: #585858;
	padding: 4px;
	height: 14px;
	border: none;
	color:white;
	box-sizing: content-box;
}

#ext-caretaker-mod-nav-index-php .x-panel-bwrap {
	 border-top: 27px solid #DADADA;
}

#ext-caretaker-mod-nav-index-php ul.x-tree-root-ct {
    padding-left: 5px;
    padding-top: 15px;
}

#ext-caretaker-mod-nav-index-php .x-tree .x-panel-body {
	background-color: #EBEBEB;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAGElEQVR42gENAPL/AMjIyEzIyMizyMjI/zhvCQelaHPPAAAAAElFTkSuQmCC");
	background-position: right center;
    background-repeat: repeat-y;
}


#ext-caretaker-mod-nav-index-php .x-tree-node .x-tree-node-el {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

#ext-caretaker-mod-nav-index-php .x-tree-node .x-tree-node-over,
#ext-caretaker-mod-nav-index-php .x-tree-node .x-tree-selected {
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
}

#ext-caretaker-mod-nav-index-php .x-tree-node .x-tree-selected {
    background-color: #F8F8F8;
}

.icon-caretaker-root { background-image: url(../icons/caretaker.png) !important; }
.icon-caretaker-type-test { background-image: url(../icons/test.png) !important; }
.icon-caretaker-type-test-hidden { background-image: url(../icons/test__h.png) !important; }
.icon-caretaker-type-testgroup { background-image: url(../icons/group.png) !important; }
.icon-caretaker-type-testgroup-hidden { background-image: url(../icons/group__h.png) !important; }
.icon-caretaker-type-instance { background-image: url(../icons/instance.png) !important; }
.icon-caretaker-type-instance-hidden { background-image: url(../icons/instance__h.png) !important; }
.icon-caretaker-type-instancegroup { background-image: url(../icons/instancegroup.png) !important; }
.icon-caretaker-type-instancegroup-hidden { background-image: url(../icons/instancegroup__h.png) !important; }

.icon-edit { background-image: url(../icons/pencil.png) !important; }
.icon-hide { background-image: url(../icons/lightbulb_off.png) !important; }
.icon-unhide { background-image: url(../icons/lightbulb.png) !important; }

.icon-test { background-image: url(../icons/test.png) !important; }
.icon-testgroup { background-image: url(../icons/group.png) !important; }
.icon-instance { background-image: url(../icons/instance.png) !important; }
.icon-instancegroup { background-image: url(../icons/instancegroup.png) !important; }


.caretaker-type-instance span {
	font-weight: bold;
}

.caretaker-state-due .x-tree-node-anchor span {
	color: violet;
}

.caretaker-state-ack .x-tree-node-anchor span {
	color: blue;
}
.caretaker-state-undefined .x-tree-node-anchor span {
	color: gray;
}
.caretaker-state-ok .x-tree-node-anchor span {
	color: green;
}
.caretaker-state-warning .x-tree-node-anchor span {
	color: orange;
}
.caretaker-state-error .x-tree-node-anchor span {
	color: red;
}

.x-panel-header {
	background-color:#CCCCCC;
	background-image:none;
	border-color:#BBBB;
	color: #333333;
}