@CHARSET "UTF-8";


/*--------- Allgemeine Styles ---------*/


@font-face {
	font-family: 'DroidSans';
	src: url('../fonts/DroidSans.ttf') format('truetype');
}

@font-face {
	font-family: 'DroidSans-Bold';
	src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
}

body {
	color: #333;
	font-family: DroidSans,Verdana,Helvetica,sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color:#eeeeee;
	background-image:url('../img/bg_page.png');
	background-repeat:repeat-x;
}

body #page {
		/*	background-color:#535353; */
	
	width:850px;
	padding:0 80px;	
	margin-left:auto;
	margin-right:auto;
}

@media all and (min-width: 1920px) {
	body #page {
		width:1760px;
	}
}

body #page #header{
	height:144px;
	position:relative;
}

body #page #header #logo {
	position:absolute;
	top:45px;
	left:-45px;
}

body #page #header #logo img{
	border:none;
}

body #page #header #branding {
	position:absolute;
	top:100px;
	left:-45px;
	color:grey;
	font-size:0.8em;
}

body #page #header #branding a {
	
}

body #page #menu_main{
	position:absolute;
	right:0;
	top:70px;
}

body #page #menu_main ul{
	list-style:none;
	margin:0;
	padding:0;
}

body #page #menu_main ul li{
	display:block;
	float:left;
	margin:0 15px 0 0;
	padding:4px;
	background-image:url('../img/bg_menu.png');
	background-repeat:repeat-x;
	border:1px solid white;
	-moz-border-radius: 4px;
	-moz-box-shadow: 1px 1px 2px grey;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 2px grey;
	border-radius: 4px;
	box-shadow: 1px 1px 2px grey;
	
}

body #page #menu_main ul li a{
	font-family: DroidSans-Bold,Verdana,Helvetica,sans-serif;
	color:#8d8d8d;
	text-shadow: 1px 1px 2px white;
	text-decoration:none;
	font-size:1.2em;
}


body #page #footer{
	color:grey;
	font-size:0.8em;
	text-align:center;
	margin-top:35px;
	margin-bottom:15px;
}

body #page #content{
	
}

h1 {
	font-family: DroidSans,Verdana,Helvetica,sans-serif;
	color: #c31125;
	font-size: 1.6em;
	font-weight:normal;
	text-shadow: 1px 1px 2px #999;
	margin:20px 0; 
}


h2 {
	font-family: DroidSans,Verdana,Helvetica,sans-serif;
	color: #333;
	font-weight:normal;
	font-size: 1.4em;
	margin:15px 0; 
}

h3 {
	font-family: DroidSans,Verdana,Helvetica,sans-serif;
	color: #333;
	font-weight:normal;
	font-size: 1.2em;
	margin:7px 0; 
}

h4 {
	font-family: DroidSans,Verdana,Helvetica,sans-serif;
	color: #333;
	font-weight:normal;
	font-size: 1.0em;
	margin:5px 0; 
}

p {
	font-size: 1.0em;
	margin:5px 0; 
}

a,
a:visited {
	color:#c31125;	
	padding:0 3px;
	text-decoration:underline;
	
}

a:hover {
	
}

.cleardiv { clear: both; }

