@CHARSET "UTF-8";


/*
#########################
### Caretaker General ###
#########################
*/

div.tx-caretaker-pi-overview,
div.tx-caretaker-pi-singleview,
div.tx-caretaker-pi-overview {
}

/*
##########################
### Caretaker Overview ###
##########################
*/
div.tx-caretaker-pi-overview{
	width:820px;
}


div.caretaker_overview{
	width:205px;
	position:relative;
	float: left;
	margin: 0 0 20px;
	
}


div.caretaker_overview h2 {
	border:1px solid transparent;
	color:white;
	margin: 0 0 2px 0 ;
	padding: 4px 2px 2px 4px;	
	white-space:nowrap;		
	height: 16px;
	overflow: hidden;
	padding: 2px 0px 2px 10px;
	margin: 0 20px 0 0;
	color: white;
	white-space: normal;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-box-shadow:6px 8px 5px #888888;
	
}


div.caretaker_overview h2 a{
	text-decoration:none;
	color:white;
}

div.caretaker_overview h2 a:hover{
	text-decoration:underline;
}

div.caretaker_overview ul.caretaker_children {
	background: #fff;
	border: 1px solid #b2cdea;
	font-size: 12px;
	list-style-type: none;
	margin: 0 20px 20px 0 ;
	
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 6px 6px 3px 6px;
	
	-moz-box-shadow:6px 6px 5px #888888;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;
	
}

div.caretaker_overview_ok h2{ background-color:green; }
div.caretaker_overview_ok ul.caretaker_children{ background-color:#DDFFDD; border-color:green;  }

div.caretaker_overview_warning h2{ background-color:orange; }
div.caretaker_overview_warning ul.caretaker_children{	background-color:#FFFFDD;  border-color:orange; }

div.caretaker_overview_error h2{	background-color:red;}
div.caretaker_overview_error ul.caretaker_children{ background-color:#FFDDDD;  border-color:red; }

div.caretaker_overview_undefined h2{	background-color:grey;}
div.caretaker_overview_undefined ul.caretaker_children{	background-color:#EEEEEE;  border-color:grey;}

div.caretaker_overview_ack h2{	background-color:blue;}
div.caretaker_overview_ack ul.caretaker_children{	background-color:#EEEEEE;  border-color:blue;}


div.caretaker_overview_due h2{	background-color:violet;}
div.caretaker_overview_eue ul.caretaker_children{	background-color:#EEEEEE;  border-color:violet;}

div.caretaker_overview ul.caretaker_children li{
		list-style:none;
		padding: 2px 2px 2px 20px;
		background-repeat: no-repeat;
		background-position: 5px 2px;
}

div.caretaker_overview ul.caretaker_children li a{ text-decoration:none; }
div.caretaker_overview ul.caretaker_children li a:hover{ text-decoration:underline; }

div.caretaker_overview ul.caretaker_children li.state_ok{  background-image:url(../img/state_ok.gif); }
div.caretaker_overview ul.caretaker_children li.state_ok a{ color:green; }

div.caretaker_overview ul.caretaker_children li.state_warning{  background-image:url(../img/state_warning.gif);}
div.caretaker_overview ul.caretaker_children li.state_warning a{ color:orange;}

div.caretaker_overview ul.caretaker_children li.state_error{  background-image:url(../img/state_error.gif);}
div.caretaker_overview ul.caretaker_children li.state_error a{ color:red; }

div.caretaker_overview ul.caretaker_children li.state_undefined{  }
div.caretaker_overview ul.caretaker_children li.state_undefined a{ color:grey ; }

div.caretaker_overview ul.caretaker_children li.state_ack{ background-image:url(../img/state_attention.gif); }
div.caretaker_overview ul.caretaker_children li.state_ack a{ color:blue ; }

div.caretaker_overview ul.caretaker_children li.state_due{ background-image:url(../img/state_attention.gif);}
div.caretaker_overview ul.caretaker_children li.state_due a{ color:violet ; }

/*
############################
### Caretaker Singleview ###
############################
*/


div.caretaker_singleview h2 {
	text-decoration:none;
	color:white;
	padding:6px 6px 4px 10px;
	-moz-box-shadow:6px 6px 5px #888888;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	
}

div.caretaker_singleview ul.rootline {
	margin:10px 0;
	padding:0;
}

div.caretaker_singleview ul.rootline li {
	margin:0;
	padding:0 0 0 20px ;
	display:inline;
	background-repeat: no-repeat;
	background-position: 5px 2px;
}

div.caretaker_singleview ul.rootline li a{ text-decoration:none; }
div.caretaker_singleview ul.rootline li a:hover{ text-decoration:underline; }

div.caretaker_singleview ul.rootline li.state_ok{  background-image:url(../img/state_ok.gif); }
div.caretaker_singleview ul.rootline li.state_ok a{ color:green; }

div.caretaker_singleview ul.rootline li.state_warning{  background-image:url(../img/state_warning.gif);}
div.caretaker_singleview ul.rootline li.state_warning a{ color:orange;}

div.caretaker_singleview ul.rootline li.state_error{  background-image:url(../img/state_error.gif);}
div.caretaker_singleview ul.rootline li.state_error a{ color:red; }

div.caretaker_singleview ul.rootline li.state_undefined{  }
div.caretaker_singleview ul.rootline li.state_undefined a { color:grey ; }

div.caretaker_singleview ul.rootline li.state_ack{  background-image:url(../img/state_attention.gif);}
div.caretaker_singleview ul.rootline li.state_ack a{ color:blue ; }

div.caretaker_singleview ul.rootline li.state_due{  background-image:url(../img/state_attention.gif);}
div.caretaker_singleview ul.rootline li.state_due a{ color:violet ; }

div.caretaker_singleview h3 {
	margin:0;	
}

div.caretaker_singleview_ok          h2{ background-color:green; }
div.caretaker_singleview_warning     h2{ background-color:orange; }
div.caretaker_singleview_error       h2{	background-color:red;}
div.caretaker_singleview_undefined   h2{	background-color:grey;}
div.caretaker_singleview_ack         h2{	background-color:blue;}
div.caretaker_singleview_due         h2{	background-color:violet;}



div.caretaker_singleview ul.caretaker_children{
		margin:0 0 20px 0;
		padding:5px 0px;
}

div.caretaker_singleview ul.caretaker_children li{
		list-style:none;
		padding: 2px 2px 2px 20px;
		background-repeat: no-repeat;
		background-position: 5px 2px;
}

div.caretaker_singleview ul.caretaker_children li a{ text-decoration:none; }
div.caretaker_singleview ul.caretaker_children li a:hover{ text-decoration:underline; }

div.caretaker_singleview ul.caretaker_children li.state_ok{  background-image:url(../img/state_ok.gif); }
div.caretaker_singleview ul.caretaker_children li.state_ok a{ color:green; }

div.caretaker_singleview ul.caretaker_children li.state_warning{  background-image:url(../img/state_warning.gif);}
div.caretaker_singleview ul.caretaker_children li.state_warning a{ color:orange;}

div.caretaker_singleview ul.caretaker_children li.state_error{  background-image:url(../img/state_error.gif);}
div.caretaker_singleview ul.caretaker_children li.state_error a{ color:red; }

div.caretaker_singleview ul.caretaker_children li.state_undefined{  }
div.caretaker_singleview ul.caretaker_children li.state_undefined a{ color:grey ; }

div.caretaker_singleview ul.caretaker_children li.state_ack{ background-image:url(../img/state_attention.gif);  }
div.caretaker_singleview ul.caretaker_children li.state_ack a{ color:blue; }

div.caretaker_singleview ul.caretaker_children li.state_due {  background-image:url(../img/state_attention.gif);  }
div.caretaker_singleview ul.caretaker_children li.state_due a{ color:violet ; }

div.caretaker_singleview table.status {
	font-size:1em;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

div.caretaker_singleview table.status tr:first-child,
div.caretaker_singleview table.status tr.first {
	border-top: 1px solid #999;
}

div.caretaker_singleview table.status tr {
	border-bottom: 1px solid #999;
}

div.caretaker_singleview table.status tr td:first-child,
div.caretaker_singleview table.status tr td.first {
	font-weight: bold;
	padding-right: 20px;
}



div.caretaker_singleview ul.chart_links {
	margin:0;
	padding:0;
	clear:both;
	overflow:hidden;
	position:relative;
	z-index:10;
}

div.caretaker_singleview ul.chart_links li {
	display:inline-block;
	border:1px solid grey;
	padding:5px 15px 2px 15px;
	margin:0 10px 0 0;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	
	background-color:#eeeeee;
	font-size:12px;
}

div.caretaker_singleview ul.chart_links li a {
	color:#333;
	text-decoration:none;
}

div.caretaker_singleview ul.chart_links li  a:hover{	
	text-decoration:underline;	
}

div.caretaker_singleview ul.chart_links li.active {
	background-color:white;
	border-bottom-color:white;
}

div.caretaker_singleview ul.chart_links li.active  a{	
	color:#333;	
}

div.caretaker_singleview div.caretaker_singleview_diagram img{
	border:1px solid #999;
	margin-top:-1px;
	-moz-border-radius-topright:7px;
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
	-moz-box-shadow:6px 6px 5px #888888;
	
}

/*
########################
### Graphical Report ###
########################
*/

div.caretaker_graphreport ul.chart_links {
	margin:0;
	padding:0;
	clear:both;
	overflow:hidden;
	position:relative;
	z-index:10;}

div.caretaker_graphreport ul.chart_links li {
	display:inline-block;
	border:1px solid grey;
	padding:5px 15px 2px 15px;
	margin:0 10px 0 0;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	-moz-box-shadow:6px 6px 5px #888888;
	
	background-color:#eee;
	font-size:12px;
}

div.caretaker_graphreport ul.chart_links li a {
	color:#333;
	text-decoration:none;
}

div.caretaker_graphreport ul.chart_links li  a:hover{	
	text-decoration:underline;	
}

div.caretaker_graphreport ul.chart_links li.active {
	background-color:white;
	border-bottom-color:white;
}

div.caretaker_graphreport ul.chart_links li.active  a{	
	color:#333;	
}

div.caretaker_graphreport div.caretaker_graphreport_diagram {
	border:1px solid #999;
	margin-top:-1px;
	-moz-border-radius-topright:7px;
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
	-moz-box-shadow:6px 6px 5px #888888;
	
}

/*
############################
### Caretaker Singleview ###
############################
*/


div.caretaker_status h2 {
	text-decoration:none;
	color:white;
	background-color:grey;
	padding:6px 6px 4px 10px;
	margin:0 0 0 0;
	-moz-box-shadow:6px 6px 5px #888888;
	-moz-border-radius-topright: 7px;
}

div.caretaker_status div.caretaker_status_box {
	background: #fff;
	border: 1px solid #b2cdea;
	font-size: 12px;
	list-style-type: none;

	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 6px 6px 3px 6px;

	margin: 0 0 20px 0;

	-moz-box-shadow:6px 6px 5px #888888;
	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius: 7px;

}


div.caretaker_status div.caretaker_status_box ul.caretaker_children {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear:both;


}

div.caretaker_status_ok h2{ background-color:green; }
div.caretaker_status_ok div.caretaker_status_box{ background-color:#DDFFDD; border-color:green;  }

div.caretaker_status_warning h2{ background-color:orange; }
div.caretaker_status_warning div.caretaker_status_box{	background-color:#FFFFDD;  border-color:orange; }

div.caretaker_status_error h2{	background-color:red;}
div.caretaker_status_error div.caretaker_status_box{ background-color:#FFDDDD;  border-color:red; }

div.caretaker_status_undefined h2{	background-color:grey;}
div.caretaker_status_undefined div.caretaker_status_box{	background-color:#EEEEEE;  border-color:grey;}


div.caretaker_status_wip h2{	background-color:grey;}
div.caretaker_status_wip div.caretaker_status_box{	background-color:#EEEEEE;  border-color:grey;}


div.caretaker_status ul.caretaker_children li{
		list-style:none;
		padding: 2px 2px 2px 20px;
		background-repeat: no-repeat;
		background-position: 5px 2px;
}



div.caretaker_status ul.caretaker_children li a{ text-decoration:none; }
div.caretaker_status ul.caretaker_children li a:hover{ text-decoration:underline; }

div.caretaker_status ul.caretaker_children li.state_ok{  background-image:url(../img/state_ok.gif); }
div.caretaker_status ul.caretaker_children li.state_ok a{ color:green; }

div.caretaker_status ul.caretaker_children li.state_warning{  background-image:url(../img/state_warning.gif);}
div.caretaker_status ul.caretaker_children li.state_warning a{ color:orange;}

div.caretaker_status ul.caretaker_children li.state_error{  background-image:url(../img/state_error.gif);}
div.caretaker_status ul.caretaker_children li.state_error a{ color:red; }

div.caretaker_status ul.caretaker_children li.state_undefined{  }
div.caretaker_status ul.caretaker_children li.state_undefined a{ color:grey ; }

div.caretaker_status ul.caretaker_children li.state_undefined{  }
div.caretaker_status ul.caretaker_children li.state_undefined a{ color:grey ; }

div.caretaker_status ul.caretaker_children li.state_ack{ background-image:url("../img/state_attention.gif"); }
div.caretaker_status ul.caretaker_children li.state_ack a{ color:blue ; }

div.caretaker_status ul.caretaker_children li.state_due{ background-image:url("../img/state_attention.gif"); }
div.caretaker_status ul.caretaker_children li.state_due a{ color:violet ; }
	
div.caretaker_status dl.caretaker_status_infos{
	clear: both;
	height: 40px;
	margin: 0;
}

div.caretaker_status dl.caretaker_status_infos dt{
	line-height:65px;
	height: 40px;
	float:left;
}

div.caretaker_status dl.caretaker_status_infos dd{
	float:left;
	font-size: 40px;
	font-weight:bold;
	margin:0;
	padding:10px;
}

div.caretaker_status dl.caretaker_status_infos dd.error{
	color: red;
}
div.caretaker_status dl.caretaker_status_infos dd.warning{
	color: orange;
}
div.caretaker_status dl.caretaker_status_infos dd.ok{
	color: green;
}

div.caretaker_status dl.caretaker_status_infos dd.ack{
	color: blue;
}
div.caretaker_status dl.caretaker_status_infos dd.due{
	color: violet;
}