
#ext-caretaker-mod-overview-index-php .x-panel-header {
    -moz-box-shadow: -2px 0 1px #414141 inset;
    background-color: #585858;
    padding: 4px;
    height: 14px;
    border: none;
    color: white;
    box-sizing: content-box;
}

#ext-caretaker-mod-overview-index-php .x-panel-tbar {
    height: 28px;
    padding: 0;
    border: none;
}

#ext-caretaker-mod-overview-index-php .x-panel-tbar .x-toolbar {
    height: 26px;
    background-color: #DADADA;
    background-image: none;
    border: none;
}

#ext-caretaker-mod-overview-index-php .x-panel-tbar .x-btn {
    border: none;
}

#ext-caretaker-mod-overview-index-php #caretaker-panels .x-panel {
    border: 1px solid #DADADA;
    margin-bottom: 10px;
}

.ext-gecko .x-btn button {
    background-repeat: no-repeat;
    padding-left: 18px;
    color: #333333;
}

.x-panel-header {
    background-color: #CCCCCC;
    background-image: none;
    border-color: #BBBB;
    color: #333333;
}

.icon-caretaker-root {
    background-image: url(../../../res/icons/caretaker.png) !important;
}

.icon-caretaker-type-root {
    background-image: url(../../../res/icons/caretaker.png) !important;
}

.icon-caretaker-type-test {
    background-image: url(../../../res/icons/test.png) !important;
}

.icon-caretaker-type-test-hidden {
    background-image: url(../../../res/icons/test__h.png) !important;
}

.icon-caretaker-type-testgroup {
    background-image: url(../../../res/icons/group.png) !important;
}

.icon-caretaker-type-testgroup-hidden {
    background-image: url(../../../res/icons/group__h.png) !important;
}

.icon-caretaker-type-instance {
    background-image: url(../../../res/icons/instance.png) !important;
}

.icon-caretaker-type-instance-hidden {
    background-image: url(../../../res/icons/instance__h.png) !important;
}

.icon-caretaker-type-instancegroup {
    background-image: url(../../../res/icons/instancegroup.png) !important;
}

.icon-caretaker-type-instancegroup-hidden {
    background-image: url(../../../res/icons/instancegroup__h.png) !important;
}

.tx-caretaker-panel-nodecontacts {
    background-image: url(../../../res/icons/contacts.png) !important;
}

.tx-caretaker-panel-nodecharts {
    background-image: url(../../../res/icons/charts.png) !important;
}

.tx-caretaker-panel-nodelogs {
    background-image: url(../../../res/icons/logs.png) !important;
}

.tx-caretaker-panel-nodeproblems {
    background-image: url(../../../res/icons/problems.png) !important;
}

.tx_caretaker_node_info {
    padding: 5px;
}

.tx_caretaker_node_info_state_ok {
    color: green;
}

.tx_caretaker_node_info_state_warning {
    color: orange;
}

.tx_caretaker_node_info_state_error {
    color: red;
}

.tx_caretaker_node_info_state_undefined {
    color: gray;
}

.tx_caretaker_node_info_state_ack {
    color: blue;
}

.tx_caretaker_node_info_state_due {
    color: violet;
}

.tx_caretaker_node_logrow_ok .x-grid3-cell-inner {
    color: green;
}

.tx_caretaker_node_logrow_warning .x-grid3-cell-inner {
    color: orange;
}

.tx_caretaker_node_logrow_error .x-grid3-cell-inner {
    color: red;
}

.tx_caretaker_node_logrow_undefined .x-grid3-cell-inner {
    color: grey;
}

.tx_caretaker_node_logrow_ack .x-grid3-cell-inner {
    color: blue;
}

.tx_caretaker_node_logrow_due .x-grid3-cell-inner {
    color: violet;
}
